%article
  %header
    La missione
    
  %p Vogliamo riunire i migliori dev Rails italiani nello stesso luogo in occasione del Railsrumble 2012, una delle coding competition internazionali pi&ugrave; estreme e divertenti.
  %p In 48h dovrete sviluppare e deployare una webapp scritta da zero, che verr&agrave; valutata per design, completezza, originalit&agrave; e utilit&agrave;.

%article
  %header
    Hackaton
    %sup> 2
  %p Stiamo preparando l&#39;hackaton pi&ugrave; geek cui abbiate mai partecipato.
  %p Il nostro timer sar&agrave; quello del Railsrumble, 48h esatte, e sarete in competizione fra di voi e con team provenienti da tutto il mondo. 
  %p Scegliete con cura i vostri compagni di squadra (max 4 persone). Selezionate un&#39;idea vincente. E preparatevi a fare tardi, molto tardi.
    
%article
  %header
    Distraction-free   
  %p Questo weekend &egrave; dedicato alla vostra furia creativa, non dovrete avere altro pensiero al di fuori del codice. 
  %p Per questo abbiamo riservato un edificio intero tutto il weekend: ci saranno postazioni per lavorare, connettivit&agrave;, cibo, caffeina e&hellip; camere da letto per quando non potrete pi&ugrave; rinviare un sonnellino. 
  

%section.rsvp 
  %h2.pitch Portate il laptop. A tutto il resto pensiamo noi.
  %form
    %input{type: 'email', placeholder: 'tua @ email'}
    %input{type: 'submit', value: 'Tienimi informato'}
    %span Non preoccuparti, niente spam dai ninja
  
%section.sponsors
  %article
    %header
      Sponsor & supporter
    %p Questo &egrave; un evento organizzato per la favolosa comunit&agrave; italiana ruby & ruby on rails, che ne dici di sponsorizzarlo? 
