%article
  %header La missione
  %p 
    Vogliamo riunire i migliori dev Rails italiani nello stesso luogo in occasione del&nbsp;
    %a{href: 'http://blog.railsrumble.com'}> Railsrumble 2012
    , una delle coding competition internazionali pi&ugrave; estreme e divertenti.
  %p In 48h dovrete sviluppare e deployare una webapp scritta da zero, che verr&agrave; valutata per design, completezza, originalit&agrave; e utilit&agrave;.

%article
  %header 
    Hackaton
    %sup> 2
  %p Una semplice hackaton non era abbastanza geek.
  %p 
    Il nostro timer sar&agrave; quello del&nbsp;
    %a{href: 'http://blog.railsrumble.com'}> Railsrumble
    , 48 ore esatte, e sarete in competizione fra di voi e con altri team provenienti da tutto il mondo. 
  %p Scegliete fino a 3 compagni, selezionate un&#39;idea vincente. E preparatevi a fare tardi, molto tardi.
    
%article
  %header Distraction-free   
  %p Due giorni dedicati alla vostra furia creativa, non dovrete avere altro pensiero al di fuori del codice. 
  %p Abbiamo riservato un edificio intero per tutto il weekend: ci saranno postazioni per lavorare, connettivit&agrave;, cibo, caffeina e&hellip; camere da letto per quando non potrete pi&ugrave; rinviare un sonnellino. 
  

%section.rsvp 
  %h2.pitch Voi portate il laptop. Noi pensiamo a tutto il resto.
  
  %p.pitch
    %a.btn.btn-large.disabled
      %i.icon-calendar 
      Biglietti disponibili da mar 11/9

  -# %form
    -# %input{type: 'email', placeholder: 'tua @ email'}
    -# %input{type: 'submit', value: 'Tienimi informato'}
    -# %span (non ci sogneremmo mai di spammare dei ninja)
  

%section.social
  
  %article
    %header Partecipanti
    %p 
      Facci sapere che vieni, e verrai inserito con gli altri ninja nella sezione partecipanti. 
    %p
      Porta il tuo team, o scrivici a 
      %a{href: 'mailto:ninja@48rails.it'} ninja@48rails.it
      se cerchi una squadra cui aggregarti.
      
  %article 
    %header Social 
    %p 
      Segui
      %a{href: 'http://twitter.com/48rails'} @48rails
      su twitter, e twitta con l&#39;hashtag ufficiale 
    %h1 #48rails

  %article
    =image_tag 'ninja_dev.png', class: 'ninja'

%section.sponsors
  %header Diventa nostro sponsor
  
  %p 
    Questo &egrave; un evento organizzato per la comunit&agrave; italiana ruby & ruby on rails, che ne dici di sponsorizzarlo? 
    %br/
    Il tuo logo verr&agrave; inserito nel sito e sarai menzionato durante l&#39;hackaton. 

  %p.pitch
    %a.btn.btn-large{href: 'mailto:sponsor@48rails.it?subject=Offerta sponsor'}
      %i.icon-heart 
      Diventa sponsor di 48 rails 
    
  %article
    = image_tag 'location.png'
    %header Location
    %p Aiutaci a coprire le spese per la nostra fantastica location: un intero edificio riservato, con spazi per lavorare, mangiare e  (di tanto in tanto) riposare. 
    
  %article
    = image_tag 'caffeine.png'
    %header Cibo &amp; Caff&egrave;
    %p Avete idea di quanto possano essere famelici dei ninja dev mentre lavorano? 48h sono lunghe, avremo bisogno di cibo, snack, bevande e soprattutto&hellip; caffeina! 
    
  %article
    = image_tag 'prize.png'
    %header Premi
    %p La tua azienda ha delle API pubbliche e vuoi mettere in palio un premio per l&#39;hack pi&ugrave; cool? Mettiti in contatto con noi, ne vedrai delle belle.  
