%article
  %header=t '.mission_title'
  =t '.mission_desc_html'

%article
  %header 
    Hackathon
    %sup> 2
  =t '.hackathon_desc_html'
    
%article
  %header Distraction-free   
  =t '.distraction_free_desc_html'  

%section.rsvp 
  = image_tag 'ninja+railsrumble.png'
  
  %h2.pitch=t '.bring_your_laptop_html'
  
  -#%p.pitch
  -#  %a.btn.btn-large.disabled
  -#    %i.icon-calendar 
  -#    =t '.twenty_tickets'
  -#
  -#-# %form
  -#  -# %input{type: 'email', placeholder: 'tua @ email'}
  -#  -# %input{type: 'submit', value: 'Tienimi informato'}
  -#  -# %span (non ci sogneremmo mai di spammare dei ninja)
  
  :plain
    <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=2126575645&ref=etckt" frameborder="0" height="244" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://48rails.eventbrite.com?ref=etckt">48rails</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>



%section.social
  
  %article
    %header=t '.participants'
    =t '.participants_desc_html'
      
  %article 
    %header Social 
    =t '.social_desc_html'
    <h1> #48rails</h1>

  %article
    =image_tag 'ninja_dev.png', class: 'ninja'

%section.sponsors
  %header=t '.become_sponsor'
  =t '.sponsorship_desc_html'

  %p.pitch
    %a.btn.btn-large{href: 'mailto:sponsor@48rails.it?subject=Sponsorship'}
      %i.icon-heart 
      =t '.become_sponsor_button'
    
  %article
    = image_tag 'location.png'
    %header Location
    %p=t '.sponsor_location_desc'
    
  %article
    = image_tag 'caffeine.png'
    %header=t '.sponsor_food_and_coffee'
    %p=t '.sponsor_food_and_coffee_desc'
    
  %article
    = image_tag 'prize.png'
    %header=t '.sponsor_prizes'
    %p=t '.sponsor_prizes_desc'
