%section
  %header
    Programma
  
  
  -#%table
    -#%tr
    -#  %th 
    -#  %th Venerdì 12
    -#  %th Sabato 13
    -#  %th Domenica 14
    -#  %th Lunedì 15
    -#%tr
    -#  %th 00:00 &ndash; 01:00
    -#  %td.epmty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 01:00 &ndash; 02:00      
    -#  %td.empty
    -#  %td Inizio RailsRumble
    -#  %td
    -#  %td
    -#%tr
    -#  %th 02:00 &ndash; 03:00  
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td    
    -#%tr
    -#  %th 03:00 &ndash; 04:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 04:00 &ndash; 05:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 05:00 &ndash; 06:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 06:00 &ndash; 07:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 07:00 &ndash; 08:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 08:00 &ndash; 09:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 09:00 &ndash; 10:00
    -#  %td.empty
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 10:00 &ndash; 11:00
    -#  %td.empty
    -#  %td.second_half Pranzo
    -#  %td
    -#  %td
    -#%tr
    -#  %th 11:00 &ndash; 12:00
    -#  %td.empty
    -#  %td Pranzo
    -#  %td
    -#  %td
    -#%tr
    -#  %th 12:00 &ndash; 13:00
    -#  %td Stanze disponibili
    -#  %td Pranzo
    -#  %td
    -#  %td
    -#%tr
    -#  %th 13:00 &ndash; 14:00
    -#  %td
    -#  %td
    -#  %td
    -#  %td      
    -#%tr
    -#  %th 14:00 &ndash; 15:00
    -#  %td
    -#  %td.first_half Pranzo
    -#  %td
    -#  %td  
    -#%tr
    -#  %th 15:00 &ndash; 16:00
    -#  %td
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 16:00 &ndash; 17:00
    -#  %td
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 17:00 &ndash; 18:00
    -#  %td
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 18:00 &ndash; 19:00
    -#  %td Check-in e Aperitivo
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 19:00 &ndash; 20:00
    -#  %td.second_half Cena
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 20:00 &ndash; 21:00
    -#  %td Pizza insieme
    -#  %td Cena
    -#  %td
    -#  %td
    -#%tr
    -#  %th 21:00 &ndash; 22:00
    -#  %td 
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 22:00 &ndash; 23:00
    -#  %td
    -#  %td
    -#  %td
    -#  %td
    -#%tr
    -#  %th 23:00 &ndash; 00:00
    -#  %td
    -#  %td
    -#  %td
    -#  %td
  
  %article
    %header Venerdì 12  
    %ul 
      %li ore 12:00 Inizia la disponibilità delle stanze
      %li.empty &nbsp;&#8286;
      %li ore 18:30 Check-in con aperitivo presso Residenza Belzoni
      %li ore 20:30 Pizza tutti insieme
    
  %article
    %header Sabato 13
    %ul 
      %li ore 02:00 (00:00 UTC) Inizio RailsRumble 
      %li.empty &nbsp;&#8286;
      %li ore 08 - 9:30 colazione
      %li.empty &nbsp;&#8286;
      %li ore 12 -14 pranzo
      %li.empty &nbsp;&#8286;
      %li ore 19 - 21 cena
      %li.empty &nbsp;&#8286;   
    
  %article
    %header Domenica 14
    %ul 
      %li.empty &nbsp;&#8286;
      %li ore 08 - 9:30 colazione
      %li.empty &nbsp;&#8286;
      %li ore 12 - 14 pranzo
      %li.empty &nbsp;&#8286;
      %li ore 19 - 21 cena (con sorpresa!)
      %li.empty &nbsp;&#8286;  
      
  %article
    %header Luned&igrave; 15
    %ul 
      %li ore 02:00 (00:00 UTC) Fine RailsRumble e premiazioni 48rails
      %li ore 03:30 Fine 48rails
      %li.empty &nbsp;&#8286;
      %li ore 14:00 Si liberano le stanze
      
      
