@import compass
@import susy

$total-columns  : 11
$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width

body  
  
  section > div
    +container
  
  
  > section[role=header]
        
    header
      padding-top: 18px
      position: relative

    #lang_selector
      position: fixed
      right: 20px     
      bottom: 9px
      
      img
        position: relative
      
        &[lang=it]  
          margin-right: -13px
          
        &[lang=en]
          margin-left: -12px
          
        &.selected
          z-index: 1
          
        &:not(.selected)
          z-index: 0
          
          &:hover
            z-index: 2
      
    article
      margin: 0 
      +clearfix
      
    
  
  > section[role=main]
    padding: 36px 0 0 
          
    >div
      position: relative   
    
    .pitch
      margin: 18px 0

    
    section
      +span-columns(11)
      margin: 36px 0
    
    .sponsors
      margin-bottom: 500px
 
      img
        margin-right: 2em
        
      article  
        padding: 9px 0 9px 0
        margin: 4px 0 5px 0
        
        img
          vertical-align: middle
        
        &.platinum, &.bronze, &.media
          +span-columns(11) 
          +suffix(0)
         
        &.gold, &.silver
          +span-columns(5)
          
        &.silver
          +suffix(0)
          +omega()
          
        &.platinum
          border-bottom: 1px dashed #d9dade
        
        &.bronze
          border-top: 1px dashed #d9dade
          border-bottom: 1px dashed #d9dade

          
          
                            
    .rsvp
      text-align: center    

    .social
             
      .ninja
        margin-top: -200px        
    
    footer
      position: absolute
      bottom: 0
      left: 0
      +span-columns(11)
      
        
  > section[role=main], > footer
    
    article
      +span-columns(3) 
      
      &:not(:last-of-type)  
        +suffix(1)  
                
      &:last-of-type
        +omega

  .pitch
    +span-columns(11)
        
  > footer
    padding: 18px 0 0
    
    > div:not(.countdown)
      +container                  

  .ninja
    +transition-property(transform)
         