@import compass
@import susy

$total-columns  : 11
$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width


body  
  
  section > div
    +container
  
  
  > section[role=header]
    padding-top: 36px    
        
    header
      padding-top: 18px
      
    article
      margin: 36px 0 
  
  > section[role=main]
    padding: 36px 0 0 
          
    >div
      position: relative
      min-height: 1500px

    
    .pitch
      margin: 18px 0

    
    section
      +span-columns(11)
      margin: 36px 0
    
    .sponsors
      
      img
        margin-bottom: 18px
          
    .rsvp
      text-align: center    

    footer
      position: absolute
      bottom: 0
      +span-columns(11)
      
        
  > section[role=main], > footer
    
    article
      +span-columns(3) 
      
      &:not(:last-of-type)  
        +suffix(1)  
                
      &:last-of-type
        +omega

  .pitch
    +span-columns(11)
        
  > footer
    padding: 18px 0 0
    
    > div:not(#timer)
      +container                  
      