.countdown
  .number#d10
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom

  .number#d1.space
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom          
  
  .number#h10
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom

  .number#h1.space
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom

  .number#m10
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom

  .number#m1.space
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom

  .number#s10
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom

  .number#s1
    .flip
      .front
      .back
    .fixed.top
    .fixed.bottom
    
  %p=t 'layout.days'
  %p=t 'layout.hours'
  %p=t 'layout.minutes'
  %p=t 'layout.seconds' 